{%load static%}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <META HTTP-EQUIV='Refresh' CONTENT='3; URL=/'>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="container">
    <div class="intro__inner">
        <h1>Ваша заявка успешно отправлена, ожидайте звонка</h1>
    </div>
</div>
</body>
</html>